#research-interests
  h1
   font-size: font-size-h3

.publicationItem
  position: relative;
  padding-left: .3em;
  margin-top: .7em;
  border-left: 1px solid color-grey
  margin: line-height-footer 0
  .publication-text
    text-align: justify
  .paper-title
    font-weight: bold
  .paper-journal-name, .paper-conference-name
    font-style: italic
  .paper-link
    text-decoration: none
    vertical-align: baseline
    font-size: smaller
    margin: 0px
    .fa
      margin-left: 2px

.publication-header
  h2
    border-bottom: 1px solid color-grey;
