#footer
  padding: 20px 0
  border-top: 1px solid color-border
  color: color-default
  font-size: font-size + 2
  text-align: center
  .outer
    margin-bottom: 0
  a
    color: color-link
    text-decoration: none

#footer-info
  line-height: line-height-footer
  font-size: 0.85em

