$base-style
  h1
    font-size: font-size-h1
  h2
    font-size: 1.5em
  h3
    font-size: font-size-h3
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
    color: color-grey
  hr
    border: 1px dashed color-border
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin: 0 20px
    line-height: line-height-footer
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold

.article
  margin: block-margin 0

.article-inner
  @extend $block
  overflow: hidden

.article-header
  padding: article-padding article-padding 0
  .article-title
    display: block
    margin-bottom: 14px
    text-decoration: none
    font-size: 2em
    color: color-default
    line-height: line-height-title
    transition: color 0.2s
    a&:visited
      color: color-default
    a&:hover
      color: color-link

.article-entry
  @extend $base-style
  clearfix()
  color: color-default
  padding: 20px article-padding
  line-height: line-height-footer
  p, table
    line-height: line-height-footer
    margin: line-height-footer 0
    text-align: justify
  h1, h2, h3, h4, h5, h6
    font-weight: bold
  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: line-height-title 0
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    margin-top: line-height-footer
    margin-bottom: line-height-footer
    text-align: justify
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
  iframe
    border: none
    margin-bottom: line-height-footer
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: bold
    border-bottom: 3px solid color-border
    padding-bottom: 0.5em
  td
    border-bottom: 1px solid color-border
    padding: 10px 0
  blockquote
    position: relative
    font-family: font-serif
    font-size: 1.1em
    margin: 0 -20px
    padding: 10px 20px 10px 54px
    background: #fcfcfc
    border-left: 4px solid #eee
    &:before
      top: 20px
      left: 10px
      content: "\f10d"
      color: #e2e2e2
      font-size: 32px;
      font-family: FontAwesome
      text-align: center
      position: absolute
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em
  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: 0.5em
      margin-right: 1em
    &.right
      margin-right: 0.5em
      margin-left: 1em
  .caption
    color: color-grey
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0
  .line-block
    line-height: line-height-footer
    margin: line-height-footer 0


.article-meta
  clearfix()
  & > div
    margin-bottom: 5px
  .article-date, .article-category
    margin-right: 10px
    color: color-default + #444
  a
    color: color-default + #444
    &:hover
      color: color-link

.article-date
  @extend $block-caption
  float: left

.article-category
  float: left
  line-height: 1em
  color: color-default
  .fa-angle-right
    margin: 0 5px

.article-category-link
  @extend $block-caption

.article-more-link a
  display: inline-block
  line-height: 1em
  padding: 6px 15px
  border-radius: 15px
  background: color-background
  color: color-grey
  text-shadow: 0 1px #fff
  text-decoration: none
  &:hover
    background: color-link
    color: #fff
    text-decoration: none
    text-shadow: 0 1px darken(color-link, 20%)

.article-footer
  clearfix()
  font-size: 0.85em
  line-height: line-height-footer
  border-top: 1px solid color-border
  padding-top: line-height-footer
  margin: 0 article-padding article-padding
  a
    color: color-grey
    text-decoration: none
    &:hover
      color: color-default

.article-comment-link
  float: right
  &:before
    content: "\f075"
    font-family: FontAwesome
    padding-right: 8px

.article-share-link
  cursor: pointer
  float: right
  margin-left: 20px
  &:before
    content: "\f064"
    font-family: FontAwesome
    padding-right: 6px

.article-share-box
  position: absolute
  display: none
  background: #fff
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1)
  border-radius: 3px
  margin-left: -145px
  overflow: hidden
  z-index: 1
  &.on
    display: block

.article-share-input
  width: 100%
  background: none
  box-sizing: border-box
  font: 14px font-sans
  padding: 0 15px
  color: color-default
  outline: none
  border: 1px solid color-border
  border-radius: 3px 3px 0 0
  height: 36px
  line-height: 36px

.article-share-links
  clearfix()
  background: color-background

$article-share-link
  width: 50px
  height: 36px
  display: block
  float: left
  position: relative
  color: #999
  text-shadow: 0 1px #fff
  &:before
    font-size: 20px
    absolute-center(@font-size)
    text-align: center
  &:hover
    color: #fff

.article-share-twitter
  @extend $article-share-link
  &:hover
    background: color-twitter
    text-shadow: 0 1px darken(color-twitter, 20%)

.article-share-facebook
  @extend $article-share-link
  &:hover
    background: color-facebook
    text-shadow: 0 1px darken(color-facebook, 20%)

.article-share-pinterest
  @extend $article-share-link
  &:hover
    background: color-pinterest
    text-shadow: 0 1px darken(color-pinterest, 20%)

.article-share-google
  @extend $article-share-link
  &:hover
    background: color-google
    text-shadow: 0 1px darken(color-google, 20%)
