#toTop
  @extend $block
  cursor: pointer
  text-align: center
  width: 64px
  height: 64px
  color: white
  font-size: 32px
  line-height: 64px
  background: color-default
  border-radius: 4px
  display: none
  bottom: 20px
  position: fixed

#sidebar
  column(sidebar-column)

