<section class="resume-summary-section resume-section">
  <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3">
    <i class="resume-section-heading-icon bi bi-person me-2"></i>
    About Me
  </h3>
  <div class="resume-summary-desc"></div>

  <p>
    I am a
    <a href="https://www.cnrs.fr/fr" target="_blank"><strong>CNRS</strong></a>
    research engineer working for the <strong>LoVe</strong> research group of
    <a href="https://lipn.univ-paris13.fr/" target="_blank"
      ><strong>LIPN</strong></a
    >
    at
    <a href="https://www.univ-spn.fr/" target="_blank"
      ><strong>Université Sorbonne Paris Nord</strong></a
    >. I did my Ph.D under the supervision of
    <a href="https://www.labri.fr/perso/myriam/" target="_blank"
      >Myriam Desainte-Catherine</a
    >
    and
    <a href="cic.puj.edu.co/~crueda/camilo" target="_blank">Camilo Rueda</a>
    at
    <a href="https://www.labri.fr/" target="_blank">LaBRI</a>. Prior to that, I
    received the engineer degree in both Computer Science and Electronics from
    <a href="https://www.javerianacali.edu.co/" target="_blank"
      >Universidad Javeriana</a
    >
    under the supervision of
    <a href="https://sites.google.com/site/carlosolarte" target="_blank"
      >Carlos Olarte</a
    >
    and
    <a
      href="https://www.javerianacali.edu.co/profesores/eugenio-tamura-morimitsu"
      target="_blank"
      >Eugenio Tamura</a
    >.
  </p>

  <p>My research interests include:</p>
  <ul>
    <li>Formal specification and verification of concurrent systems</li>
    <li>Interactive multimedia systems</li>
  </ul>

  <p>
    I am also a member of the
    <a
      href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000008203"
      target="_blank"
      ><strong>AVISPA</strong></a
    >
    research group.
  </p>

  <p>
    Here you can find my
    <a href="{{ 'assets/pdfs/resume.pdf' | relative_url }}">curriculum vitae</a
    >.
  </p>
</section>
<!--//resume-section-->
